// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Admin LTE
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/plugins/fontawesome-free/css/all.css';

// FontAwesome
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

.courses-style {
    width: 90%;
    margin: auto;
    margin-top: 20px;

    .table-style {
        margin-bottom: 10px;

        input {
            width: 175px;
        }

        .control {
            float: right;
        }
    }

    .table {
        width: 100%;

        .sorting {
            background-image: url('public/img/sort_both.png');
            background-repeat: no-repeat;
            background-position: center right;
        }

        .sorting_asc {
            background-image: url('public/img/sort_asc.png');
            background-repeat: no-repeat;
            background-position: center right;
        }

        .sorting_desc {
            background-image: url('public/img/sort_desc.png');
            background-repeat: no-repeat;
            background-position: center right;
        }
    }

    nav a {
        color: white !important;
        margin-right: 10px;
    }
}

h1 {
    text-align: center;
    font-size: 30px;
}

.pagination {
    justify-content: flex-end !important;

    .page-stats {
        align-items: center;
        margin-right: 5px;
    }

    i {
        color: #3273dc !important;
    }
}
